Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -performance-enum-size,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'i|j|k|n'
  - key: readability-function-cognitive-complexity.Threshold
    value: '20'
